@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000011;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobile-nav-background {
  background: url('/BackgroundStars.webp') center/cover no-repeat, linear-gradient(180deg, #000000, #090946, #333399);
  width: 100%;
  height: 100%;
}


.star-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/BackgroundStars.webp') center/cover no-repeat, linear-gradient(180deg, #000000, #090946, #333399);
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensures background is behind everything else */
}
@keyframes background {
  0%{ transform:scale(1);}
  55%{ transform:scale(1.3);}
  100%{ transform: scale(1);}
}
.shooting-star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 0 5px rgba(254, 254, 255, 0.2), 0 1px 0 7px rgba(245, 254, 255, 0.1), 0 1px 21px rgba(253, 253, 245, 1) ;
  animation: anim 5s ease-in-out infinite;
}
.shooting-star::before{
  content: '';
  width: 290px;
  height: 2px;
  position: absolute;
  top: 53%;
  transform: translateY(-45%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), transparent);
}
@keyframes anim {
  0%{ transform: rotate(325deg) translateX(0); opacity: 1; }
  40%{ opacity: 0.8; }
  70%{ opacity: 1; }
  100%{ transform: rotate(325deg) translateX(-1400px); opacity: 0; }
}

.DreamBox {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #33334D;
}

textarea.DreamBox {
  /* Additional styles to improve text readability on the gradient background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white; /* Ensures the text stands out */
}


.LoginInput {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  width: 350px;
}

.DreamCard {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  overflow-y: auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .home-page {
  max-height: 100%;
  overflow-y: auto;
} */

/* .register-form {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 3;
} */

/* .text-container {
  position: relative;
  width: 50%;
  color: white;
  z-index: 10;
  overflow-y: auto;
  padding: 2rem;
} */

/* .register-form-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
} */

/* .character-container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: left;
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: auto;
} */

.oracle-image {
  flex-shrink: 0;
  width: 125px;
  height: 125px;
  float: left;
  object-fit: cover;
  margin-right: 1.25rem;
}

.oracle-image-mobile {
  max-width: 12rem/* 384px */;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; 
  height: 60px; 
}

.main-content {
  padding-top: 70px;
  overflow-y: auto;
  max-height: 100%; 
  min-height: 80%;
}

.main-content-home {
  padding-top: 70px;
  overflow-y: hidden;
  max-height: 100%; 
  min-height: 80%;
}

.middle-content {
  height: calc(100vh - 60px); /* Subtract the navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wiggle:hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.pricing-card {
  height: calc(100vh - 160px);
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
  transition: transform 0.5s ease-in-out;
  position: relative;
  width: 33.333333%;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 1px;
}

.pricing-card-sale {
  height: calc(100vh - 220px);
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
  transition: transform 0.5s ease-in-out;
  position: relative;
  width: 33.333333%;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 1px;
}

.pricing-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.pricing-card-mobile {
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
}

.subscribe-button {
  background-color: gold;
}

.text-gold {
  color: #ffd700;
}

.border-gold {
  border: 1px solid gold;
  border-width: 5px;
}

.border-gold-small {
  border: 1px solid gold;
  border-width: 2px;
}

.border-gold-small:hover {
  border: 1px solid gold;
  border-width: 2px;
  background-color: #33334D;
}

.dream-button {
  color: black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  padding: 3px;
  background-color: #00FFFF;
}

.start-button {
  color: black;
  border-radius: 7px; /* Increased border-radius for more rounded corners */
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  padding: 6px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #00FFFF;
}

.start-button-mobile {
  color: black;
  border-radius: 7px; /* Increased border-radius for more rounded corners */
  margin: 5px;
  padding: 4px 12px; /* Adjusted padding for smaller buttons */
  background-color: #00FFFF;
}

.start-button.disabled-button {
  background-color: #b3ffff; /* Greyed out version of #00FFFF */
  cursor: not-allowed;
  opacity: 0.6; /* Optional: to make it look more disabled */
}

.start-button:hover {
  --tw-bg-opacity: 1;
  background-color:  #00BBBB;
}

.dream-button:hover {
  --tw-bg-opacity: 1;
  background-color:  #00BBBB;
}

.back-button {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  --tw-bg-opacity: 1;
  padding: 6px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #00FFFF;
}

.logout-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  --tw-bg-opacity: 1;
  padding: 6px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #00FFFF;
}

.dropdown {
  position: relative;
  display: block; 
  max-width: 768px;
  margin-left: 2;
}


.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: right;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.popup-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(0px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  margin-bottom: 0; 
}

.popup-menu-active {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 20;
  padding: 0.5rem;
  margin-bottom: 0; 
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 20;
}

.dropdown-item {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-item:hover {
  background-color: #33334D;
}

/* .blog-box {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
} */

/* .blog-box:hover {
  border: 2px solid gold;
  opacity: 1;
  background-color: #33334D;
} */

/* .like-dislike-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background-color: black;
  border: 1px solid #D3D3D3;
  position: relative;
} */

/* .divider {
  height: 40px;
  width: 1px;
  background-color: #D3D3D3;
  position: absolute;
} */

/* .like-button, .dislike-button {
  margin: 0 20px;
  cursor: pointer;
} */


/* Provided CSS */
.progress-bar {
  height: 2em;
  background-color: #D3D3D3;
  border-radius: 1.5em;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 1em;
  margin: 5px;
}

.progress-bar-width-desktop {
  width: 98%;
}

.progress-bar-width-mobile {
  width: 75%;
}

.progress-bar-inside {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .25em;
  top: .25em;
  bottom: .25em;
  min-width: .25rem;
  max-width: calc(100% - .5em);
  background-color: #069;
  border-radius: 1rem;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

/* New CSS */
.progress-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .sale-banner {
  background-color: #ff4500;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.05);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.sale-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: gold;
} 

.sale-top-banner {
  background-color: #00FFFF;
  border-radius: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  margin-top: 0.5rem;
  padding: 0.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
} */

/* .blog-paragraph {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 22.65px;
} */

/* .blog-header {
  line-height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 36.65px;
} */

/* .blog-subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

.interpretation-box h3 {
  margin-bottom: 0.5em; /* Adjust as necessary */
}

.interpretation-box strong {
  margin-bottom: 0.5em; /* Adjust as necessary */
}

.interpretation-box br {
  line-height: 0; /* Adjust as necessary */
}

.golden-ratio-1 {
  font-size: 14px;
}

.golden-ratio-2 {
  font-size: 22.65px;
}

h3.golden-ratio-2 {
  margin-bottom: 0em; /* Adjust as necessary */
}

.golden-ratio-3 {
  font-size: 36.65px;
  line-height: 1;
}

.golden-ratio-4 {
  font-size: 59.3px;
  line-height: 1;
}

.golden-ratio-5 {
  font-size: 95.95px;
  line-height: 1;
}

.blur-effect {
  filter: blur(8px);
  pointer-events: none;
}

.overlay-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  border: 1px solid white;
}

.create-account-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loadingText {
  font-size: 1.5rem;
  padding: 1rem;
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #6B7280;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

.delay200 {
  animation-delay: 0.2s;
}

.delay400 {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.disabled-oracle {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.dream-button:disabled {
  background-color: #ccc; /* Grey background */
  color: #666; /* Dimmed text color */
  cursor: not-allowed; /* Shows a 'not allowed' cursor when hovered */
}

.gradient-title-text {
  background: linear-gradient(180deg, #ffffff, #8585A3);
  background-clip: text; /* standard property */
  -webkit-background-clip: text; /* vendor-prefixed property */
  -webkit-text-fill-color: transparent;
  font-family: 'Gill Sans', sans-serif;
}


.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-container p {
  text-align: center;
}

.title-container-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  overflow: hidden;
}

.title-container-alt p {
  text-align: center;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; /* Adjust this value to ensure it looks good */
}

.back-button-container {
  position: absolute;
  top: 60px;
  /* top: 0px; */
  left: 5px;
  z-index: 30;
}

.match-width {
  display: inline-block;
  text-align: left;
  word-break: break-word;
}

.center-text {
  text-align: center;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
}

.image-container-mandela {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  z-index: 1;
}


.step-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.step-section-mobile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-bottom: 8%;
  padding-top: 5%;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.step-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.step-image-mobile {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.step-section p {
  text-align: left;
  width: 100%; /* Ensures paragraphs take the full width of the container */
}

.reduce-line-spacing {
  line-height: 1.2; /* Adjust this value as needed */
}

.dream-details-button {
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, backdrop-filter 0.3s ease;
}

.dream-details-button:hover {
  background-color: rgba(128, 128, 128, 0.2); /* Slightly gray background with some opacity */
  color: white;
  opacity: 0.8; /* Increase opacity to make it grayer */
  backdrop-filter: blur(5px); /* Add blur effect */
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}



