@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  background-color: #000011;
  font-family:cursive;
} */

body {
  background-color: #000011;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.star-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #000020;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@keyframes background {
  0%{ transform:scale(1);}
  55%{ transform:scale(1.3);}
  100%{ transform: scale(1);}
}
.shooting-star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 0 5px rgba(254, 254, 255, 0.2), 0 1px 0 7px rgba(245, 254, 255, 0.1), 0 1px 21px rgba(253, 253, 245, 1) ;
  animation: anim 5s ease-in-out infinite;
}
.shooting-star::before{
  content: '';
  width: 290px;
  height: 2px;
  position: absolute;
  top: 53%;
  transform: translateY(-45%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), transparent);
}
@keyframes anim {
  0%{ transform: rotate(325deg) translateX(0); opacity: 1; }
  40%{ opacity: 0.8; }
  70%{ opacity: 1; }
  100%{ transform: rotate(325deg) translateX(-1400px); opacity: 0; }
}

.DreamBox {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #33334D;
}

textarea.DreamBox {
  /* Additional styles to improve text readability on the gradient background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white; /* Ensures the text stands out */
}


.LoginInput {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  width: 350px;
}

.DreamCard {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  overflow-y: auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.video-container {
  position: fixed; /* Establishes a new stacking context */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
  z-index: 2; /* Above the video, but below the content */
}

.cosmic-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
  z-index: -1; /* Send the video to the back */
}

.home-page {
  max-height: 100%;
  overflow-y: auto;
}

.register-form {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 3;
}

.text-container {
  position: relative;
  width: 50%;
  color: white; /* Text color */
  z-index: 10; /* Ensure it's on top of the video */
  overflow-y: auto;
  padding: 2rem;
}

.scrollable-content {
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 1rem; /* Adjust as necessary for spacing */
  box-sizing: border-box; /* Includes padding in height calculation */
}

.register-form-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.text-container-mobile {
  position: relative;
  width: 100%;
  color: white; /* Text color */
  z-index: 10; /* Ensure it's on top of the video */
  overflow-y: auto;
  padding: 2rem;
  margin-top: 1rem;
}


.character-container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: left;
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: auto;
}

.oracle-image {
  flex-shrink: 0;
  width: 125px;
  height: 125px;
  float: left;
  object-fit: cover;
  margin-right: 1.25rem;
}

.oracle-image-mobile {
  max-width: 12rem/* 384px */;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; 
  height: 60px; 
}

.main-content {
  padding-top: 70px; /* Add a top padding to avoid content overlay */
  overflow-y: auto;
  max-height: 100%; 
  min-height: 80%;
}

.middle-content {
  height: calc(100vh - 60px); /* Subtract the navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wiggle:hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.pricing-card {
  height: calc(100vh - 160px);
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
  transition: transform 0.5s ease-in-out;
  position: relative;
  width: 33.333333%;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 1px;
}

.pricing-card-sale {
  height: calc(100vh - 220px);
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
  transition: transform 0.5s ease-in-out;
  position: relative;
  width: 33.333333%;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 1px;
}

.pricing-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.pricing-card-mobile {
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
}

.subscribe-button{
  background-color: gold;
}

.nav-h {
  height: calc(100vh - 60px);
}

.text-gold {
  color: gold;
}

.border-gold {
  border: 1px solid gold;
  border-width: 5px;
}


.dream-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.dream-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.back-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.back-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}


.next-stage {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  height: 7%;
}

.next-stage:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes fadeUpwardsOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-250px);
  }
}

.fade-upwards-out {
  animation: fadeUpwardsOut 1.3s ease-out forwards;
}

@keyframes fadeUpwardsIn {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-upwards-in {
  animation: fadeUpwardsIn 1.3s ease-out forwards;
}


@keyframes fadeDownwardsIn {
  from {
    opacity: 0;
    transform: translateY(-250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-downwards-in {
  animation: fadeDownwardsIn 1.3s ease-out forwards;
}

@keyframes fadeDownwardsOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(250px);
  }
}

.fade-downwards-out {
  animation: fadeDownwardsOut 1.3s ease-out forwards;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: right;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.popup-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(0px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.popup-menu-active {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 20;
  padding: 0.5rem;
}

.popup-menu-bottom {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(60px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.popup-menu-bottom-active {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(75px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 20;
  padding: 0.5rem;
}

.popup-menu-public-dream {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.popup-menu-public-dream-active {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 20;
  padding: 0.5rem;
}


.oracle-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.oracle-menu-active {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: #222242;
  right: 0;
  text-align: left;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 20;
  padding: 0.5rem;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 20;
}

.dropdown-item {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-item:hover {
  background-color: #33334D;
}

.oracle-wrapper {
  position: relative;
  width: fit-content;
}

.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  z-index: 10;
/* 
  #B90343
#A4033B
#900234
#7B022C
#660225
 */
  
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #A4033B;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}

.blog-box {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  height: 100%;
  width: 100%;
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  position: relative;
  cursor: pointer;
  border-radius: 0.75rem/* 12px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-box-mobile-view {
  width: 100%;
}

.blog-box:hover {
  border: 2px solid gold;
  opacity: 1;
  background-color: #33334D;
}

.dream-card {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  width: 23%;
  position: relative;
  cursor: pointer;
  border-radius: 0.75rem/* 12px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dream-card:hover {
  border: 2px solid gold;
  opacity: 1;
  background-color: #33334D;
}

.dream-card-mobile {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  width: 80%;
  position: relative;
  cursor: pointer;
  border-radius: 0.75rem/* 12px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-paragraph {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
}

.blog-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blog-subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.like-dislike-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* You can adjust the size as needed */
  height: 60px; /* You can adjust the size as needed */
  border-radius: 30px; /* This should be half of the height to make it a perfect circle */
  background-color: black; /* YouTube uses a light grey background */
  border: 1px solid #D3D3D3; /* Optional: if you want a border around the circle */
  position: relative;
}

.divider {
  height: 40px; /* Height should be less than the wrapper to look nice */
  width: 1px;
  background-color: #D3D3D3; /* Same as the border color for consistency */
  position: absolute;
}

.like-button, .dislike-button {
  margin: 0 20px;
  cursor: pointer;
}


.progress-bar {
  width: 98%;
  height: 2em;
  background-color: #D3D3D3;
  border-radius: 1.5em;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 1em;
  margin: 5px;
}

.progress-bar-inside {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .25em;
  top: .25em;
  bottom: .25em;
  min-width: .25rem;
  max-width: calc(100% - .5em);
  background-color: #069;
  border-radius: 1rem;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.sale-banner {
  /* Your custom styles here */
  background-color: #ff4500; /* Bright orange-red */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.05);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.sale-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: gold;
}

.sale-top-banner {
  background-color: #00FFFF;
  border-radius: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  margin-top: 0.5rem;
  padding: 0.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dream-box {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #33334D;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dreamnet-like-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.dreamnet-like-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.dreamnet-liked-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.dreamnet-liked-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
