@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000011;
}

.star-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #000020;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@keyframes background {
  0%{ transform:scale(1);}
  55%{ transform:scale(1.3);}
  100%{ transform: scale(1);}
}
.shooting-star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 0 5px rgba(254, 254, 255, 0.2), 0 1px 0 7px rgba(245, 254, 255, 0.1), 0 1px 21px rgba(253, 253, 245, 1) ;
  animation: anim 5s ease-in-out infinite;
}
.shooting-star::before{
  content: '';
  width: 290px;
  height: 2px;
  position: absolute;
  top: 53%;
  transform: translateY(-45%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), transparent);
}
@keyframes anim {
  0%{ transform: rotate(325deg) translateX(0); opacity: 1; }
  40%{ opacity: 0.8; }
  70%{ opacity: 1; }
  100%{ transform: rotate(325deg) translateX(-1400px); opacity: 0; }
}

.DreamBox {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #33334D;
}

/* .DreamBox {
  background: linear-gradient(to top, #0D1B2A, #1B263B, #415A77, #778DA9); 
  border: 2px solid white; 
  color: white; 
} */

textarea.DreamBox {
  /* Additional styles to improve text readability on the gradient background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white; /* Ensures the text stands out */
}


.LoginInput {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  width: 350px;
}

.DreamCard {
  border: 2px solid white;
  box-shadow: inset 0 0 10px #000000;
  max-height: calc(100vh - 240px); 
  overflow-y: auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.video-container {
  position: relative; /* Establishes a new stacking context */
  width: 100vw; /* Full view width */
  z-index: 1;;
}

.cosmic-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
  z-index: -1; /* Send the video to the back */
}

.text-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 35%; /* Center horizontally */
  transform: translate(-50%, -50%); 
  color: white; /* Text color */
  z-index: 10; /* Ensure it's on top of the video */
}

.home-page {
  max-height: 102vh;
  overflow-y: auto;
}

.register-form {
  position: absolute;
  top: 10%;
  right: 10%;
}


.character-container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: left;
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: auto;
}

.oracle-image {
  flex-shrink: 0;
  width: 350px;
  height: 350px;
  float: left;
  object-fit: cover;
  margin-right: 30px;
}

.oracle-image-mobile {
  max-width: 12rem/* 384px */;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; 
  height: 60px; 
}

.main-content {
  padding-top: 60px; /* Add a top padding to avoid content overlay */
  overflow-y: auto;
  max-height: 100vh; 
}

.middle-content {
  height: calc(100vh - 60px); /* Subtract the navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wiggle:hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.pricing-card {
  height: calc(100vh - 160px);
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
  transition: transform 0.5s ease-in-out;
}

.pricing-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.pricing-card-mobile {
  padding: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0;
}

.subscribe-button{
  background-color: gold;
}

.nav-h {
  height: calc(100vh - 60px);
}

.text-gold {
  color: gold;
  font-weight: bold;
}

.border-gold {
  border: 1px solid gold;
  border-width: 5px;
}


.dream-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.dream-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}


