/* public/styles/critical.css */
body {
    font-family: Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.gradient-title-text {
    background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pb-2 {
    padding-bottom: 0.5rem;
}